/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
}

/*============================
* ------ Base Styles ---------
=============================*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

a{
    text-decoration: none;
}
.container {
    max-width: 870px; 
    margin: 0 auto; 
    padding: 0 30px; 
    /* border: 1px solid red; */
} 

/*============================
* --- Navbar Section Start ---
=============================*/
.navbar{  
    background-color: #562EFF;
}
.navbar .container{
    /* padding: 0 !important; */
    max-width: 950px;
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    padding: 18px 3px;
}
.brand{
    display: flex; 
    align-items: center;
    width: 50px;
    height: 50px;
}
.brand img{
    width: 100%;
}
.brand p{
    color: #ffffff;
    font-size: 24px;
    margin-left: 15px;
    font-weight: 500;
}
.menus ul{
    display: flex;
    align-items: center;
}
.menus ul li{ 
    list-style: none;
    padding: 0 10px;
}
.menus ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
/* ### Navbar Section Ends ### */



/*================================
* ---- Top Area Section Start ----
=================================*/
#top-area{
    padding-top: 30px;
    padding-bottom: 20px; 
}
.top-area{
    background-color: #fff;
    border-radius: 5px;
}
.top-players{
    padding-top: 30px;
}
.section-title{ 
    color: #562EFF;
    font-size: 24px;
    font-weight: 600;

}
.players{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.single-player{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.single-player .player-name{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-left: 16px;
}
.player-img{
    width: 56px;
    height: 56px;
}
.player-img img{
    width: 100%;
}
/* top blogs */
.top-blogs{
    padding-top: 30px; 
}

.articles{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.single-article{
    display: flex; 
    margin-bottom: 40px;
}
.thumbnail{
    max-width: 224px;
    height: 127px;
}
.thumbnail img{
    width: 100%;
}
.article-content{  
    padding: 10px 15px;
}
.article-content .title h3 a{
    font-size: 20px;
    color: #000000;
    font-weight: 500;
}
.article-content .author{
    margin-top: 20px;
}
.article-content .author .name a{
   color: #562EFF;
   font-size: 16px;
   font-weight: 500;
}
/* ### Top Area Section Ends ### */




/*==================================
* -- Latest Courses Section Start --
==================================*/
#latest-course{
    margin-bottom: 30px; 
}
.latest-course{
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.courses{
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
}
.single-course{
    padding: 16px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}
.course-thumb{
    margin-bottom: 20px;
}
.course-thumb img{
    width: 100%;
}
.course-title{  
    margin-bottom: 8px;
}
.course-title a{
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.course-author{
    color: #ED6B4F;
    font-weight: 14;
    font-weight: 400;
    margin-bottom: 20px;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filled{
    color: #FFC014;
}
.empty{
    color: #AEAEAE;
}

.duration{
    background-color: #FEE5DF; 
    color: #FF4A60;
    padding: 3px 12px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
}
/* ### Latest Courses Section Ends ### */